body, html {
  /* font-family: Helvetica Neue,Helvetica,Arial,sans-serif; */
  /* font-size: 12px; */
  color: #444;
  background: #f6f6f6;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 50px;

  background: rgba(255, 255, 255, 0.96);

  z-index: 1000;
}

.drop-overlay .box {
  text-align: center;
  border: dashed 4px #CCC;
  border-radius: 20px;
  height: 100%;

  display: flex;
  align-content: middle;

  pointer-events: none;
}

.drop-overlay .label {
  font-size: 26px;
  color: #888;
  margin: auto;
}

.bpmn-js-bpmnlint-button {
  left: 100px !important;
}

#canvas > div > div > div.bpmn-js-bpmnlint-issues.bpmn-js-bpmnlint-process-issues {
  left: 100px !important;
  right: initial;
  z-index: 4;
}

#canvas > div > div > div.djs-palette.open {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
    background: #ffffff;
    color: #444444;
    min-width: 0;
    min-height: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px;
    padding: 6px;
    width:60px;
    border-width: 0.5px;
    box-shadow: 0px 1px 1px rgba(100,100,100,0.25);
    border-radius: 5px;
} 

.bjs-powered-by {
  box-shadow: none !important;
  transform: translateY(-10px);
  z-index: 5 !important;
}

